/* css reset code start */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'arial';
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input:focus, button:focus {
    outline: none;
}

.container {
    width: 93%;
    margin: auto;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}
/* css reset code end */

.header {
    padding: 25px 0px;
}

.header .logo {
    width: 50%;
    float: left;
}

.header .logo img {
    width: 120px;
    cursor: pointer;
}

.header .menu {
    width: 50%;
    float: left;
    text-align: right;
}

.header .menu a {
    font-size: 13px;
    color: #188fff;
    cursor: pointer;
}

.header .menu a:hover {
    color: #003abc;
}

.contact-form {
    position: absolute;
    right: 170px;
    text-align: center;
    width: 360px;
    height: 550px;
    background-color: #fff;
    color: #26282a;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    border: 1px solid 1px solid #f1f1f5;
    padding: 30px 0px 8px;
}

.contact-form img {
    width: 100px;
    cursor: pointer;
}

.contact-form h1 {
    margin-top: 50px;
    font-size: 21px;
}

.contact-form p {
    font-size: 14px;
    margin-top: 5px;
}

.contact-form .form form input {
    display: block;
    margin: auto;
    width: 300px;
    padding: 10px 1px;
    margin-top: 80px;
    box-sizing: border-box;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #b9bdc5;
}

.contact-form .form form button {
    display: block;
    margin: auto;
    width: 300px;
    padding: 10px 0px;
    color: #fff;
    background-color: #188fff;
    border: 1px solid #188fff;
    border-radius: 100px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 5px;
    cursor: pointer;
}

.contact-form .form form button:hover {
    background-color: #0f69ff;
    border: 1px solid #0f69ff;
}

.contact-form .stay {
    width: 300px;
    padding: 20px 0px;
    margin: auto;
}

.contact-form .stay::after {
    content: '';
    display: block;
    clear: both;
}

.contact-form .stay input {
    float: left;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.contact-form .stay label {
    font-size: 14px;
    float: left;
    margin-left: 5px;
    color: #188fff;
    transform: translate(0px, -2px);
    cursor: pointer;
}

.contact-form .stay a {
    font-size: 14px;
    float: right;
    color: #188fff;
    transform: translate(0px, -2px);
    cursor: pointer;
}

.contact-form .stay a:hover {
    color: #003abc;
}

.contact-form button {
    display: block;
    margin: auto;
    width: 300px;
    padding: 10px 0px;
    color: #188fff;
    background-color: #fff;
    border: 1px solid #188fff;
    border-radius: 100px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.contact-form button:hover {
    color: #0f69ff;
    border: 1px solid #0f69ff;
}

.contact-form button:last-child img {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.contact-form button:last-child {
    color: #26282a;
    background-color: #fff;
    border: 1px solid #26282a;
    cursor: pointer;
}

.contact-form button:last-child:hover {
    border: 1px solid #188fff;
}

.contact-form h5 {
    font-size: 14px;
    margin: 25px 0px 15px;
    font-weight: normal;
}

.footer {
    width: 100%;
    background-color: #fff;
    margin-top: 100px;
    padding: 0px 0px 4px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
}

.footer a {
    display: inline-block;
    color: #188fff;
    font-size: 10px;
    cursor: pointer;
}

.footer p {
    display: inline-block;
    color: #26282a;
    font-size: 10px;
}

.footer a:hover {
    color: #003abc;
}