/* css reset code start */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'arial';
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input:focus, button:focus {
    outline: none;
}

.container {
    width: 97%;
    margin: auto;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}
/* css reset code end */

.header {
    padding: 15px 0px;
}

.header ul {
    text-align: right;
}

.header ul li {
    display: inline-block;
    margin-left: 5px;
}

.header ul li button {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #666;
    font-size: 16px;
    padding: 10px 13px; 
    border-radius: 50%;
    cursor: pointer;
}

.header ul li button:hover {
    background-color: #e0e0e0;
}

.header ul li:first-child button {
    font-size: 13px;
    width: 70px;
    height: 40px;
    border-radius: 250px;
}

.header ul li button svg {
    transform: translate(0px, -3px);
    vertical-align: middle;
    margin-top: 0px;
}

.section {
    text-align: center;
}

.section img {
    display: block;
    margin: auto;
    cursor: pointer;
    transform: translate(0px, -20px);
}

.section input {
    display: block;
    margin: auto;
    width: 650px;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px 20px;
    border: 1px solid #d0d0d0;
    margin-top: 20px;
}

.section i {
    transform: translate(312px, -37px);
    color: #767676;
    font-size: 20px;
    cursor: pointer;
}

.section h2 {
    color: #36acb8;
    font-size: 35px;
    margin-top: 10px;
}

.section p {
    color: #777;
    font-size: 15px;
    margin-top: 10px;
}

.section h1 {
    color: #333;
    font-size: 35px;
    font-weight: 700;
    margin-top: 30px;
}

.section .edge button {
    background-color: #438de0;
    border: 1px solid #438de0;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.section .edge button:hover {
    background-color: #297edf;
}

.section .click {
    display: inline-block;
    cursor: pointer;
}

.section .click button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #36acb8;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.section .click button:hover {
    background-color: #36abb8c9;
}

.section .click button i {
    transform: none;
    color: #fff;
    display: inline-block;
}